<%- include('blocks/head.ejs', {title: note.heading}) %>
<style>
    body {
        background-image: url("/public/paper.jpg");
    }
</style>
<script src="/public/js/note_script.js"></script>
<div class="container text-center">
    <h1>
        <%= note.heading %>
    </h1>
</div>
<div class="container">
    <h4>
        <a href="/change-note/<%= note.id %>">Изменить</a>
    </h4>
    <h4>
        <a href="/">На главную</a>
    </h4>
    <h4>
        <a onclick="ask_for_remove()">Удалить</a>
    </h4>
    <h3>
        <%= note.text %>
    </h3>
    <% if (note.text.length >= 500) { %>
        <h4>
            <a href="/change-note/<%= note.id %>">Изменить</a>
        </h4>
        <h4>
            <a href="/">На главную</a>
        </h4>
    <% } %>
</div>
<input type="hidden" id="id-input" value="<%= note.id %>" name="id">
<%- include('blocks/footer.ejs') %>
