<%- include('blocks/head.ejs', {title: note.heading}) %>
<style>
    body {
        background-image: url("/public/paper.jpg");
    }
</style>
<script src="/public/js/note_script.js"></script>
<div class="container center">
    <h3>
        <%= note.heading %>
    </h3>
</div>
<hr>
<div class="container">
    <% if (note.text.length >= 500) { %>
        <h5>
            <a href="/change-note/<%= note.id %>">Изменить</a>
        </h5>
        <h5>
            <a href="/">На главную</a>
        </h5>
        <h5>
            <a onclick="ask_for_remove()">Удалить</a>
        </h5>
    <% } %>
    <h5>
        <%= note.text %>
    </h5>
    <div class="row">
        <div class="col s12 m4 center">
            <h5>
                <a href="/change-note/<%= note.id %>" class="btn waves-effect waves-light">Изменить</a>
            </h5>
        </div>
        <div class="col s12 m4 center">
            <h5>
                <a href="/" class="btn waves-effect waves-light">На главную</a>
            </h5>
        </div>
        <div class="col s12 m4 center">
            <h5>
                <a onclick="ask_for_remove()" class="btn waves-effect waves-light">Удалить</a>
            </h5>
        </div>
    </div>
</div>
<input type="hidden" id="id-input" value="<%= note.id %>" name="id">
<%- include('blocks/footer.ejs') %>
