<%- include('blocks/head.ejs', {title: 'your profile on express notes'}) %>
<div class="container center">
    <h3>Профиль пользователя <%= login %></h3>
</div>
<hr>
<div class="container center">
    <h4>
        Ваши записи:
    </h4>
    <% if (are_notes === true) { %>
        <ul>
            <% notes.forEach((note) => { %>
                <li>
                    <h4>
                        <a href="/note/<%= note.id %>">
                            <%= note.heading %>
                        </a>
                    </h4>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <h4>У вас ещё нет записей</h4>
    <% } %>
    <div class="row">
        <div class="col s12 m4 l4">
            <br>
            <a href="/create-note" class="waves-effect waves-light btn">
                Создать запись
            </a><br>
        </div>
        <div class="col s12 m4 l4">
            <br>
            <a href="/logout" class="waves-effect waves-light btn">
                Выйти
            </a>
        </div>
        <div class="col s12 m4 l4">
            <br>
            <a href="/app" class="waves-effect waves-light btn">
                Приложение
            </a>
        </div>
    </div>
</div>
<%- include('blocks/footer.ejs') %>
