<%- include('blocks/head.ejs', {title: 'your profile on express notes'}) %>
<div class="container text-center">
    <h1>Профиль пользователя <%= login %></h1>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md">
            <h4>
                Ваши записи:
            </h4>
            <% if (are_notes) { %>
                <ul>
                    <% notes.forEach((note) => { %>
                        <li>
                            <h4>
                                <a href="/note/<%= note.id %>">
                                    <%= note.heading %>
                                </a>
                            </h4>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h4>У вас ещё нет записей</h4>
            <% } %>
            <a href="/create-note">Создать запись</a><br>
            <a href="/logout">Выйти</a>
        </div>
    </div>
</div>
<%- include('blocks/footer.ejs') %>
